# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Т1 PlayFlock Bonded Rectangles.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\DOCS\GitHub\unityProjects\Т1 PlayFlock Bonded Rectangles\.idea\.idea.Т1 PlayFlock Bonded Rectangles\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
